<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>NOPOWER</string>
	</array>
	<array>
		<string>power-plus-one-life-1</string>
		<string>power-plus-one-life-2</string>
		<string>power-plus-one-life-3</string>
		<string>power-plus-one-life-4</string>
		<string>power-plus-one-life-5</string>
	</array>
	<array>
		<string>power-shield-1</string>
		<string>power-shield-2</string>
		<string>power-shield-3</string>
		<string>power-shield-4</string>
		<string>power-shield-5</string>
	</array>
	<array>
		<string>power-paddle-grow-1</string>
		<string>power-paddle-grow-2</string>
		<string>power-paddle-grow-3</string>
		<string>power-paddle-grow-4</string>
		<string>power-paddle-grow-5</string>
	</array>
	<array>
		<string>power-paddle-shrink-1</string>
		<string>power-paddle-shrink-2</string>
		<string>power-paddle-shrink-3</string>
		<string>power-paddle-shrink-4</string>
		<string>power-paddle-shrink-5</string>
	</array>
	<array>
		<string>power-multiball-1</string>
		<string>power-multiball-2</string>
		<string>power-multiball-3</string>
		<string>power-multiball-4</string>
		<string>power-multiball-5</string>
	</array>
	<array>
		<string>power-multiplier-1</string>
		<string>power-multiplier-2</string>
		<string>power-multiplier-3</string>
		<string>power-multiplier-4</string>
		<string>power-multiplier-5</string>
	</array>
	<array>
		<string>power-ball-speed-up-1</string>
		<string>power-ball-speed-up-2</string>
		<string>power-ball-speed-up-3</string>
		<string>power-ball-speed-up-4</string>
		<string>power-ball-speed-up-5</string>
	</array>
	<array>
		<string>power-ball-speed-down-1</string>
		<string>power-ball-speed-down-2</string>
		<string>power-ball-speed-down-3</string>
		<string>power-ball-speed-down-4</string>
		<string>power-ball-speed-down-5</string>
	</array>
	<array>
		<string>power-laser-1</string>
		<string>power-laser-2</string>
		<string>power-laser-3</string>
		<string>power-laser-4</string>
		<string>power-laser-5</string>
	</array>
	<array>
		<string>power-ball-energy-1</string>
		<string>power-ball-energy-2</string>
		<string>power-ball-energy-3</string>
		<string>power-ball-energy-4</string>
		<string>power-ball-energy-5</string>
	</array>
	<array>
		<string>power-random-1</string>
		<string>power-random-2</string>
		<string>power-random-3</string>
		<string>power-random-4</string>
		<string>power-random-5</string>
	</array>
	<array>
		<string>power-magnet-1</string>
		<string>power-magnet-2</string>
		<string>power-magnet-3</string>
		<string>power-magnet-4</string>
		<string>power-magnet-5</string>
	</array>
</array>
</plist>
